.ProductBox-container {
  height: fit-content;
  border-radius: 5px;
  position: relative;
  background-color: white;
  overflow: hidden;
}
.ProductBox-container:hover {
  box-shadow: 0px 0px 5px 0px grey;
}
/* background-color: #e6e8ec;
   */
.ProductBox-container img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}
.ProductBox-editIcon {
  background-color: #b7d3f1;
  height: fit-content;
  position: absolute;
  right: 4px;
  padding: 5px;
  top: 3px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px grey;
  cursor: pointer;
}
.ProductBox-img-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.ProductBox-info {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
.ProductBox-first {
  min-width: 100%;
  padding: 10px;
}

.ProductBox-second {
  min-width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  height: 60%;
}

.ProductBox-third {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.ProductBox-info {
  display: flex;
}
.ProductBox-rating {
  background-color: #fac20f;
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 10px;
}

.ProductBox-rating span {
  font-size: 20px;
  font-weight: bold;
  margin: 2px 5px 2px 5px;
}
.ProductBox-price {
  font-size: 25px;
  font-weight: bold;
}
.ProductBox-remain {
  font-size: 15px;
  font-weight: bold;
  color: rgb(8, 201, 8);
}
