$red-color: #ff514e;
$yellow-color: #fbb403;
$white-color: #fff;
$black-color: rgba(0, 0, 0, 0.84);
$grey-color: rgba(0, 0, 0, 0.4);
$success-color: #43d787;
$favourite-color: #f766ad;
$warning-color: #ffbb00;
$error-color: #f9461c;

$wishlist-color: #434655;
$error-color: #ff0000;
$disabled-color: #bfbfbf;
$scrollbar-color: #909090;
$scrollbar-background-color: #f5f5f5;
