.adminHeader {
  min-width: 84vw;
  height: 50px;
  padding: 20px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
}

.searchAreaHeader {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  padding: 3px;
}
.searchAreaHeader input {
  border: none;
  outline: none;
  background: transparent;
}

.searchAreaHeader input::placeholder {
  font-size: 12px;
}
.searchAreaHeader ion-icon {
  right: 5px;
  cursor: pointer;
}
/*---------------*/
.mainAreaHeader {
  display: flex;
  align-items: center;
}
.itemAdminHeader {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.itemAdminHeader ion-icon {
  font-size: 20px;
}
.counter {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatarContainer {
  position: relative;
}

.profiledropdown {
  font-size: 20px;
  position: absolute;
  transform: translate(-60%, 80%);
  width: 100px;
  background-color: rgb(151, 151, 241);
  color: white;
  border-radius: 5px;
  z-index: 10;
}
.notificationdropdown {
  display: block;
  position: relative;
}
