.admin-orderspage {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}
@media only screen and (max-width: 1300px) {
  .admin-orderspage {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 960px) {
  .admin-orderspage {
    grid-template-columns: 1fr;
  }
}
